.roxo{
    padding-left: 300px;
    width: 300px;
    height: 300px;
}
.oi {

    width: 300px;
    height: 300px;
}

.jesus {

    width: 300px;
    height: 300px;
}
.pabllo {

    width: 300px;
    height: 300px;
}
.yor {padding-left: 300px;

    width: 300px;
    height: 300px;
}
.isa {

    width: 300px;
    height: 300px;
}
.pedro {

    width: 300px;
    height: 300px;
}
.gabs {

    width: 300px;
    height: 300px;
}
.joao {
    padding-left: 750px;
    width: 400px;
    height: 300px;
}




